body {
    background-image: url("https://th.bing.com/th/id/R.e04cfbc0117b025b32137598d21838c3?rik=qB1riIbclcuLrQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fdLB5ai0.jpg&ehk=f6Y4fm%2bh6t%2bhtbOQQtHXCJMpQtxa0ITuQ2RlHARX3LQ%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0px;
}

#body {
    margin: 1.5vw;
    margin-top: calc(14vw);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 5vw;
}

#body h1 {
    color: black;
    font-size: 5.5vh;
}

img {
    width: 250px;
    border-radius: 10%;
    margin: 5vh;
}

p {
    font-size: 3.25vh;
    margin: 1.5vw;
}

ul {
    font-size: 3.25vh;
    margin: 1.5vw;
    margin-left: 5%;
    padding: 1.5vw;
    text-align: left;
}

ol {
    font-size: 3.25vh;
    margin: 1.5vw;
    margin-left: 5%;
    padding: 1.5vw;
    text-align: left;

}

#ejemplo {
    margin: 5vh auto;
    padding: 1.5vw;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    width: max-content;
    font-family: 'Courier New', Courier, monospace;
}

#ejemplo p {
    font-size: 90%;
    /* margin: 1.5vw; */
}

#renglon1 {
    text-indent: 2%;
    font-size: 90%;
}

#renglon2 {
    text-indent: 4%;
    font-size: 90%;
}

#bibliografia {
    font-size: 2.75vh;
    margin: 1.5vw;
    margin-top: 22vh;
    padding: 1.5vw;
    /* background-color: rgba(255, 255, 255, 0.8); */
    font-style: italic;
    overflow-wrap: break-word;
}