nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  padding: 10px;
  /* width: 100%; */
  /* position: fixed; */
  /* Para que el menú sea estático */
  /* top: 0%; */
  /* Para que el menú sea estático */
}

#titulo {
  text-decoration: none;
  font-size: 1.75vw;
}

h1 {
  font-family: "Times New Roman", serif;
  color: white;
  text-align: center;
}

#cabecera img {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1.25vw;
  text-decoration: none;
  font-size: 16px;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

li a:hover,
.dropbtn:hover {
  background-color: #111111;
}

li div p {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1.25vw;
  margin: 0;
  font-size: 1.5vw;
  cursor: default;
}

li div img {
  margin: 0;
  margin-right: 1.25vw;
  width: 0.75vw;
  height: 0.75vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content-content {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #444444;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.subsubmenu:hover .dropdown-content-content {
  display: block;
}

@media screen and (max-width: 1080px) {
  #cabecera {
    display: grid;
    align-items: center;
    grid-template-columns: 85% 15%;
  }

  #titulo {
    font-size: 3.5vw;
  }

  #cabecera img {
    display: block;
    width: 7.5vw;
    margin: 2.5vw;
  }

  .dropdown {
    display: none;
  }

  .boton-menu-oculto:hover .dropdown {
    display: block;
    position: relative;
  }
}